*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
html{ overflow: hidden;}
body{
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(44, 43, 43);
    
   
}

.container{
    height: 100vmin;
    width: 100vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 5;
    overflow: hidden;
    
   
}
.top{
    
    width: 100%;
    /* max-width: 950px; */
    height: 8%;
    justify-content:space-evenly;
    align-items: center;
    display: flex;
    text-align: center;
    color: white;
    background-color:  #00b4ff;
    z-index: 2;
    
}
.top>div{
    width: 15%;
    border-radius: 15%;
}
[data-type="resource"]{
    width: 10vw;
    height: 80%;
    
    
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   

    
}
.sidebar{
   
    width: 7vw;
    max-width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    z-index: 3;
    background-color:  #00b4ff;

}
.side-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 100%;
    
}
.side-flex>div{
    height: 15%;
    padding: 5px;
    border-bottom: 2px solid beige;
}
.logo{
 transform: rotate(-90deg);
 text-align: center;
 /* padding-left: 32px; */
 font-size: 1.5rem;
 width: 20px;
 border: 1px brown;
}

.game-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    
}
[data-type= 'block']:hover{
    border: 2px solid white;
   
}

[data-type='block']{
   z-index: 3;
   
}

[data-blockType='sky']{
    background-color: #00b4ff;
    opacity: 100%;
    z-index: 1;
   
}

[data-blockType='dirt']{
    background:url(./assets/pixelArt/dirt.jpeg);
    background-size: contain;
}
[data-blockType='stone']{
    background:url(./assets/pixelArt/stone.jpeg);
    background-size: contain ;
}

[data-blockType='wood']{
    background:url(./assets/pixelArt/wood.png);
    background-size: contain ;
}

[data-blockType='grass']{
    background:url(./assets/pixelArt/grass.jpeg);
    background-size: cover;

}
[data-blockType='leaf']{
    background:url(./assets/pixelArt/leaf.jpeg);
    background-size: contain;

}

[data-selected='on']{
    box-shadow: inset 0 0 10px #ffffff;
   
}
[data-type='tool']:hover{
    
    box-shadow: inset 2px 0 10px #ffffff;
    
    
}
[data-type='resource']:hover{
    box-shadow: inset 2px 0 10px #ffffff;
    
}
[data-type='tool']{
    border-radius: 10%;
   
    
    
}


.axe{
    height: 25%;
    background:  url(./assets/pixelArt/axe.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.pickaxe{
    height: 25%;
    background:  url(./assets/pixelArt/pickaxe1.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.shovel{
    height: 25%;
    background:  url(./assets/pixelArt/shovel.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.shears{
    height: 25%;
    background:  url(./assets/pixelArt/shears.png);
    background-size:contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

.leaf{
    background: url(./assets/pixelArt/leafblock.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.stone{
    background: url(./assets/pixelArt/stoneblock.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.grass{
    background: url(./assets/pixelArt/grassblock.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.wood{
    background: url(./assets/pixelArt/woodblock.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.dirt{
    background: url(./assets/pixelArt/dirtblock.png);
    background-size:contain;
    background-repeat: no-repeat;
}

